<!DOCTYPE html>
<html lang="en">
<head>
  {{>header}}
</head>
{{>navbar}}
<body>

   
 <!-- ----------------  main header  ---------------------------  -->

    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- left side div  -->
                    <div class="col-md-6 col-12 main_header_right align-items-center ">
                        <figure>
                            <img src="./image/about0.png" alt="A1 Agri" class="img-fluid" title="A1 Agriculture">
                        </figure>
                    </div>
                     <!-- right side div  -->
                     <div class="col-md-6 col-12 main_header_left">
                        <p>to rebuild of Agriculture Education</p>
                        <h1>We are the <span class="text-clr">Agri</span> Students...</h1>
                        <a href="https://www.instagram.com/a1agriculture/" target="_A1Agri"><button>join Now</button></a> 
                      </div>


                </div>
            </div>
        </div>
    </div>
<!-- -------------------------- footer code ------------------------ -->

<footer>
   {{>footer}}
</footer>
</body>  
</html>