<!DOCTYPE html>
<html lang="en">
<head>
   {{>header}}
  
   
</head>
  {{>navbar}}
<body>
    <div class="q-main-div">
        <div class="q-inner-div">
            <h2 class="q-question">What is the father  </h2>
            <ul>
                <li>
                    <input type="radio" name="answer" id="ans1" class="answer">
                    <label for="ans1" id="option1" > Answer opto</label>
                </li>

                <li>
                    <input type="radio" name="answer" id="ans2" class="answer">
                    <label for="ans2" id="option2" > Answer opto</label>
                </li>

                <li>
                    <input type="radio" name="answer" id="ans3" class="answer">
                    <label for="ans3" id="option3" > Answer opto</label>
                </li>

                <li>
                    <input type="radio" name="answer" id="ans4" class="answer">
                    <label for="ans4" id="option4" > Answer opto</label>
                </li>

            </ul>
            <button id="submit">Submit</button>
            <div id="showScore" class="q-scoreArea"> </div>
        </div>
    </div>
    
   <script src="./quiz.js"></script>
   
</body>

</html>